.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.356);
  color:black;
  z-index: 10;
}

.modalSidebar {
  float:right;
  background: #fff;
  padding:25px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 18%;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}
