.dashboardContainer {
  padding: 30px;
}

.pageHeading {
  font-size: 2.3rem;
  margin-bottom: 20px;
  color: var(--color-main);
}

.dashboardCard {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
  background: var(--color-light);
  border-radius: 12px;
  color: var(--color-darker);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  line-height: 2;
}
