:root {
  --color-lighter: rgb(255, 235, 235);
  --color-light: rgb(255, 150, 150);
  --color-main: rgb(199, 53, 53);
  --color-dark: rgb(180, 59, 59);
  --color-darker: rgb(120, 30, 30);
}

* {
  margin: 0;
  padding: 0;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrapper {
  flex: 1;
}

.dark {
  background: black;
}

.light {
  background: white;
}