.profileContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-lighter);
}

.profileHeading {
  color:var(--color-darker);
  margin-bottom: 5px;
}

.sub {
  margin-bottom: 30px;
  color: gray;
}

.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  width: 260px;
  margin: 0 auto;
  padding: 25px;
  background: var(--color-light);
  border-radius: 16px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
  transition: opacity 0.6s ease-in-out;
}

.profileAvatar {
  width: 60px;
  height: 60px;
  margin: 0 auto 15px;
  background: var(--color-main);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.profileName {
  margin: 0;
  font-size: 1.4rem;
}

.profileRole {
  margin: 5px 0 0;
  color: var(--color-lighter);
  font-size: 1.3em;
}

.fadeWrapper {
  position: relative;
}

.fadeCard {
  opacity: 0;
}

.fadeCard.show {
  opacity: 1;
}